body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    
}

header {
    /* background-color: #4CAF50; */
    background: rgb(136,203,171);
    background: linear-gradient(0deg, rgba(136,203,171,.8) 0%, rgba(0,13,60,1) 100%);
    color: white;
    text-align: center;
    padding: 1rem;
}

section {
    display: flexbox;
    width: 70%;
    margin: 1rem auto 1rem;
    padding: 1rem;
    border: 1px solid #ccc;
}

ul {
    list-style-type: none;
    padding: 0;
}

a {
    color: #4CAF50;
}

.list_title {
    font-weight: bold ;
}


/********** Add this style for the two-column layout ***********/
.skills-list {
    display: flex;
    flex-direction: column;
}

.skill, .education {
    display: flex;
    justify-content: left;
    margin-bottom: 0.5rem;
}

.skill-key {
    min-width: 65%;
    font-weight: bold;
    margin-right: 1rem;
}

.skill-value {
    min-width: 30%;
    justify-content: flex-start;
    align-self: flex-end;
}


.education-key {
    min-width: 65%;
    font-weight: bold;
    margin-right: 1rem;
}

.education-value {
    min-width: 30%;
    align-self: flex-start;
    justify-content: flex-start;
    /* text-align: left; */
}





/* Footer Styles */
.page__footer {
    background: rgb(136,203,171);
    background: linear-gradient(0deg, rgba(136,203,171,.8) 0%, rgba(0,13,60,1) 100%);
    padding: 3em;
    color: #fff;
}

.page__footer p{
    color: #fff;
    text-align: center;
}