:root {
    --input-width: 100%;
    --input-padding: 10px;
    --icon-color: rgb(119, 168, 190);
    --btn-bg-color: darkslategray;
    --btn-hover-bg-color: #0a3d62;
    --btn-text-color: white;
    --label-font-size: 1rem;
    --field-border-color: rgba(133, 133, 133, 0.4);
    --field-focus-color: #62a9c3;
}

/* Styles for active NavTabs */
.nav-tabs {
    display: flex;
    /* background-color: #025f5c; */
}

.nav-item.active .nav-link {
    color: #fff;
    background-color: #111111;
    border-top-left-radius: 9px;
    border-top-right-radius:9px;
    border: 3px solid #adb4b4;
}

/* Styles for content sections */
.resume-section,
.contact-section {
    padding: 20px;
    margin-top: 20px;
    border: 1px solid #ccc;
    /* background-color: #f9f9f9; */
}

#contact-form {
    max-width: 600px;
    margin: 40px auto;
    padding: 20px;
    background: var(--form-bg);
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: left;
    backdrop-filter: blur(10px);
}

#contact-form h2 {
    text-align: center;
    color: var(--label-color);
    margin-bottom: 20px;
    font-size: 1.8em;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    font-size: 1rem;
    font-weight: bold;
    color: var(--label-color);
    margin-bottom: 8px;
}

input,
textarea {
    width: 95%;
    padding: 12px 15px;
    font-size: 1rem;
    font-weight: 550;
    border: 1px solid var(--input-border);
    border-radius: 5px;
    background-color: var(--input-bg);
    outline: none;
    transition: border-color 0.3s;
    background:black;
    color:#e2e9ec;
}

input:focus,
textarea:focus {
    border-color: var(--input-focus);
}

textarea {
    resize: vertical;
    min-height: 160px;
}

button {
    display: inline-block;
    width: 100%;
    padding: 10px 10px;
    font-size: 1.2rem;
    font-weight: bold;
    color: #e9a92f;
    text-shadow: #070707 1px 2px 1px;
    background-color: var(--btn-bg);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

button:hover {
    background-color: var(--btn-hover-bg);
    transform: translateY(-2px);
}

button i {
    margin-right: 8px;
}

#contact-form .fa {
    margin-right: 8px;
    color: var(--icon-color);
    font-size: 1.2rem;
}