@import "formStyles.css";

body {
    background-color: #f3f3f3; /* Light%20grey background */
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    font-size:small;
    text-shadow: 0 0 darkblue;
    background: url('./images/resumeBac.webp') no-repeat center center fixed ;
    background-size: cover;
}

header {
    /* background-color: #4CAF50; */
    background: rgb(7, 7, 7);
    /* background: linear-gradient(0deg, rgba(136,203,171,.8) 0%, rgba(0,13,60,1) 100%); */
    color: white;
    text-align: center;
    padding: 1rem;    
}

/**************** ADD TYPING EFFECT  *****************/
#dynamic-text {
    border-right: 2px solid;
    white-space: nowrap;
    overflow: hidden;
    animation: typing 3.5s steps(40, end), blink-caret .75s step-end infinite;
}

/* Typing keyframes */
@keyframes typing {
    from { width: 50 }
    to { width: 100% }
}

/* Cursor animations */
@keyframes blink-caret {
    from, to { border-color: transparent }
    10% { border-color: none; }
}


.fa-linkedin-square{
    color: rgba(18, 73, 190, 0.76);
    padding-left:-5px ;
}
.fa-github{
    color: rgba(80, 83, 88, 0.76);
}
.visitor-count{
    display: flex;
    direction: inline;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
    /* font-size:xX-small ; */
}

.visitor-count span{
    color: rgb(112 176 202); 
    text-shadow: 1px 3px 2px rgb(5, 60, 124);
}

section {
    display: flexbox;
    width: 70%;
    margin: 1rem auto 1rem;
    padding: 1rem;
    border: 1px solid transparent;
    /* background-color: #f2f3f5; */
    backdrop-filter: blur(30px);
    
}

ul {
    list-style-type: none;
    padding: 0;
}

a {
    color: #e9a92f;
    text-shadow: #070707 1px 2px 1px;
    text-decoration: none;
    padding: 10px 10px;
}

span a{
    font-weight: normal ;
}

span > a:hover, p > a:hover, .project-details a:hover{
    align-self:last baseline ;
    min-width: 45px;
    height: 20px;
    font: .98em/.4 "Fira Sans", sans-serif;
    background: rgba(63, 192, 142, 0.4);
    color: #070101;
    box-shadow: 3px 4px 0px 0px #1564ad;
    transition: ease 800ms all;
    border-radius: 12px;
    cursor:pointer ;
    text-shadow: rgb(82, 142, 204) 0px 1px 0px;
}

.list_title {
    font-weight: bold ;
}


/********** Add this style for the two-column layout ***********/
.skills-list {
    display: flex;
    flex-direction: column;
}

.skill, .education {
    display: flex;
    justify-content: left;
    margin-bottom: 0.5rem;
}

.skill-key {
    min-width: 35%;
    max-width: 45%;
    font-weight: bold;
    margin-right: 1rem;
}

.skill-value {
    min-width: 30%;
    justify-content: flex-start;
    align-self: flex-end;
}


.education-key, .curricular-subject, .job-company, .job ul li, .curricular ul li{
    min-width: 65%;
    max-width: 65%;
    margin-right: 1rem;
}

.bold{
    font-weight: bold;
}

.education-value, .curricular-dates, .job-dates {
    min-width: 30%;
    align-self: flex-start;
    justify-content: flex-start;
    /* text-align: left; */
}

.education_subtitle{
    display: flexbox;
}



/**************************Experience AND Curricular********************/
 .experience {
    margin-top: 20px;
}

.job, .curricular {
    margin-bottom: 30px;
}


.job-company, .curricular-subject {
    display: inline-flex;
    align-items: flex-start;
    font-size: 1em; /* Regular font size */
}

.job-company, .curricular-subject {
    font-weight: bold;
    color: rgb(38, 117, 110); /* Add color to job details */
}



.job ul, .curricular ul, .interests ul, .awards ul {
    margin-top: 10px;
    padding-left: 20px;
}

.job ul li, .curricular ul li, .interests ul li, .awards ul li{
    list-style-type: disc;
    margin-bottom: 5px;
}


/* Footer Styles */
.page__footer {
    background: rgb(136,203,171);
    /* background: linear-gradient(0deg, rgba(136,203,171,.8) 0%, rgba(0,13,60,1) 100%); */
    padding: 3em;
    color: #fff;
    background-color: #070707;
    /* position: relative;
    bottom: 0%;
    width: 100%; */
}

.page__footer p{
    color: #fff;
    text-align: center;
}


.portfolio {
    padding: 40px 27px;
    margin:40px auto 20px;
    border: 1px solid none;
    /* background-color: #f9f9f9; */
}

.project {
    margin-bottom: 7%;
}

.project img {
    width: 100px;
    height: 100px;
    float: left;
    margin-right: 15px;
    margin-left: 40px;
    border-radius: 11px;
    transition: transform .2s ease; /* Animation*/
}

.project img:hover {
    transform: scale(1.5);
}

.project-details{
    width: 65%;
    padding-left: 20%
}

.project-details p {
    margin-bottom: 30px;         
    box-shadow: 15px 15px 15px ;
    padding: 0px 7px 17px;
    font-weight: 700;
    /* color: floralwhite; */
    border-width: 3px;
}

.project h3 {
    margin-top: 0;
}




/* Medium Screens */
/* Use the keyword 'and' to build a complex media query that evaluates both a min and max */
@media only screen and (min-width: 600px) and (max-width:1000px) {
    body {
        font-size:smaller;
        background-size: cover;
    }
    
    section{
        width: 65%;
    }
}

/* Lager Screens */
@media (min-width:1001px){
    body {
        font-size:medium;
    }

    section{
        width: 65%;
    }

    .project img {
        width: 150px;
        height: 150px;
    }

    .project {
        margin-bottom: 9%;
    }

    .project-details{
        width: 65%;
        padding: 1% 25% 0%;
    }
}