@import "formStyles.css";

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    font-size:small;
    background: url('https://images.unsplash.com/photo-1446716336919-df838e44ce7b?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MjE0fHxwb3J0Zm9saW8lMjBiYWNrZ3JvdW5kfGVufDB8fDB8fHww') center center/cover ;
}

header {
    /* background-color: #4CAF50; */
    background: rgb(136,203,171);
    background: linear-gradient(0deg, rgba(136,203,171,.8) 0%, rgba(0,13,60,1) 100%);
    color: white;
    text-align: center;
    padding: 1rem;
    
}

.fa-linkedin-square{
    color: rgba(18, 73, 190, 0.76);
    padding-left:-5px ;
}
.fa-github{
    color: rgba(80, 83, 88, 0.76);
}
.visitor-count{
    display: flex;
    direction: inline;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
    /* font-size:xX-small ; */
}

.visitor-count span{
    color: rgb(142 191 173); 
}

section {
    display: flexbox;
    width: 70%;
    margin: 1rem auto 1rem;
    padding: 1rem;
    border: 1px solid #ccc;
    background-color: #fff;
    
}

ul {
    list-style-type: none;
    padding: 0;
}

a {
    color: #4CAF50;
    text-decoration: none;
    padding: 10px 10px;
}

span a{
    font-weight: normal ;
}

span > a:hover, p > a:hover{
    align-self:last baseline ;
    min-width: 45px;
    height: 20px;
    font: .98em/.4 "Fira Sans", sans-serif;
    background: rgba(63, 192, 142, 0.4);
    color: #070101;
    box-shadow: 3px 4px 0px 0px #1564ad;
    transition: ease 800ms all;
    border-radius: 12px;
    cursor:pointer ;
    text-shadow: rgb(82, 142, 204) 0px 1px 0px;
}

.list_title {
    font-weight: bold ;
}


/********** Add this style for the two-column layout ***********/
.skills-list {
    display: flex;
    flex-direction: column;
}

.skill, .education {
    display: flex;
    justify-content: left;
    margin-bottom: 0.5rem;
}

.skill-key {
    min-width: 35%;
    max-width: 45%;
    font-weight: bold;
    margin-right: 1rem;
}

.skill-value {
    min-width: 30%;
    justify-content: flex-start;
    align-self: flex-end;
}


.education-key, .curricular-subject, .job-company, .job ul li, .curricular ul li{
    min-width: 65%;
    max-width: 65%;
    margin-right: 1rem;
}

.bold{
    font-weight: bold;
}

.education-value, .curricular-dates, .job-dates {
    min-width: 30%;
    align-self: flex-start;
    justify-content: flex-start;
    /* text-align: left; */
}

.education_subtitle{
    display: flexbox;
}



/**************************Experience AND Curricular********************/
 .experience {
    margin-top: 20px;
}

.job, .curricular {
    margin-bottom: 30px;
}


.job-company, .curricular-subject {
    display: inline-flex;
    align-items: flex-start;
    font-size: 1em; /* Regular font size */
}

.job-company, .curricular-subject {
    font-weight: bold;
    color: rgb(38, 117, 110); /* Add color to job details */
}



.job ul, .curricular ul, .interests ul {
    margin-top: 10px;
    padding-left: 20px;
}

.job ul li, .curricular ul li, .interests ul li{
    list-style-type: disc;
    margin-bottom: 5px;
}


/* Footer Styles */
.page__footer {
    background: rgb(136,203,171);
    background: linear-gradient(0deg, rgba(136,203,171,.8) 0%, rgba(0,13,60,1) 100%);
    padding: 3em;
    color: #fff;
    background-color: #fff;
    /* position: relative;
    bottom: 0%;
    width: 100%; */
}

.page__footer p{
    color: #fff;
    text-align: center;
}



/* Medium Screens */
/* Use the keyword 'and' to build a complex media query that evaluates both a min and max */
@media only screen and (min-width: 600px) and (max-width:1000px) {
    body {
        font-size:medium
    }
}

/* Lager Screens */
@media (min-width:1001px){
    body {
        font-size:large
    }

    section{
        width: 50%;
    }

}